
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>*@
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <title>Dibz</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="bg">
            <img src="~/assets/aes_sedai.jpg" id="bgimg" />
            <div class="caption">
                <h1 class="display-2">Wheel of Time</h1>
                <h3>A Quick Reference Guide</h3>
            </div>
        </div>
    </div>
</body>
</html>
