html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins' sans-serif;
    color: #222;
    min-width: fit-content;
    /*background-color: slategrey;*/
    background-image: url(/assets/aes_sedai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    enable-background: inherit;
}
    body::-webkit-scrollbar {
        display: none;
    }

.welcome {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding-top: 250px;
}
.welcome1{
    position: relative;
}
.caption {
    padding-top: 150px;
    margin-bottom: 350px;
}

    .caption h1 {
        font-family: 'CormorantUnicase-Regular';
        font-size: 1500%;
        text-transform: uppercase;
        text-shadow: 15px 15px 10px black;
        text-align: center;
        color: white;
    }

.caption1 {
    /*padding-top: 150px;*/
    margin-bottom: 150px;
}

    .caption1 h1 {
        font-family: 'CormorantUnicase-Regular';
        font-size: 1500%;
        text-transform: uppercase;
        text-shadow: 15px 15px 10px black;
        text-align: center;
        color: burlywood;
    }

@font-face {
    font-family: 'CormorantUnicase-Regular';
    src: url('../fonts/CormorantUnicase-Regular.ttf') format('truetype');
}

#bookimg {
    max-width: 400px;
    padding-top: 35px;
    margin: 0 250px 175px 0;
    border: 13px inset solid black;
    opacity: 1;
}

    #bookimg:hover {
        opacity: .8;
        border: 3px outset solid grey;
    }

#detimg {
    max-width: 400px;
}

.flip-card {
    padding-top: 35px;
    margin: 0 auto;
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-card-front {
    color: black;
    width: 100%;
    height: 100%;
}
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}
